{% extends 'pages/base.html' %} 
{% block title %} Contact Information {% endblock %} 
{% block header_title %} Contact Information {% endblock %}
{% block content %} 
<div class="container"> 
  <div class="row"> 
    <div class="col-lg-4 ms-auto"> 
      <p class="lead">Email: Asdrubal123@gmail.com</p> 
      <p class="lead">Address: cra 21 c transversal 89, Asturias</p>
      <p class="lead">Phone: 301 5216781</p> 
    </div> 
    <div class="col-lg-4 me-auto"> 
      <!-- Este espacio puede ser utilizado para cualquier otra información de contacto adicional -->
    </div> 
  </div> 
</div> 
{% endblock %}